@import './vars';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?l2g3ag');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?l2g3ag#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?l2g3ag')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?l2g3ag##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-line-left {
  &:before {
    content: $icon-arrow-line-left;
  }
}
.icon-arrow-line-right {
  &:before {
    content: $icon-arrow-line-right;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrows-line-horizontal {
  &:before {
    content: $icon-arrows-line-horizontal;
  }
}
.icon-arrows-outline-horizontal {
  &:before {
    content: $icon-arrows-outline-horizontal;
  }
}
.icon-arrow-square-out {
  &:before {
    content: $icon-arrow-square-out;
  }
}
.icon-arrow-up-right {
  &:before {
    content: $icon-arrow-up-right;
  }
}
.icon-at {
  &:before {
    content: $icon-at;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}
.icon-caret-left {
  &:before {
    content: $icon-caret-left;
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right;
  }
}
.icon-caret-up {
  &:before {
    content: $icon-caret-up;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-check-square-offset {
  &:before {
    content: $icon-check-square-offset;
  }
}
.icon-clockwise {
  &:before {
    content: $icon-clockwise;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-dots-three {
  &:before {
    content: $icon-dots-three;
  }
}
.icon-dots-three-vertical {
  &:before {
    content: $icon-dots-three-vertical;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-eye-closed {
  &:before {
    content: $icon-eye-closed;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-folders {
  &:before {
    content: $icon-folders;
  }
}
.icon-gantt {
  &:before {
    content: $icon-gantt;
  }
}
.icon-hourglass-medium {
  &:before {
    content: $icon-hourglass-medium;
  }
}
.icon-house {
  &:before {
    content: $icon-house;
  }
}
.icon-important {
  &:before {
    content: $icon-important;
    color: #e31b1b;
  }
}
.icon-kanban {
  &:before {
    content: $icon-kanban;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-list-bullets {
  &:before {
    content: $icon-list-bullets;
  }
}
.icon-list-checks {
  &:before {
    content: $icon-list-checks;
  }
}
.icon-list-numbers {
  &:before {
    content: $icon-list-numbers;
  }
}
.icon-loader {
  &:before {
    content: $icon-loader;
  }
}
.icon-magnifying-glass {
  &:before {
    content: $icon-magnifying-glass;
  }
}
.icon-magnifying-glass-minus {
  &:before {
    content: $icon-magnifying-glass-minus;
  }
}
.icon-magnifying-glass-plus {
  &:before {
    content: $icon-magnifying-glass-plus;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-note {
  &:before {
    content: $icon-note;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;
  }
}
.icon-pause-circle {
  &:before {
    content: $icon-pause-circle;
  }
}
.icon-pencil-simple {
  &:before {
    content: $icon-pencil-simple;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-reports {
  &:before {
    content: $icon-reports;
  }
}
.icon-setting {
  &:before {
    content: $icon-setting;
  }
}
.icon-share-network {
  &:before {
    content: $icon-share-network;
  }
}
.icon-sign-out {
  &:before {
    content: $icon-sign-out;
  }
}
.icon-squares-four {
  &:before {
    content: $icon-squares-four;
  }
}
.icon-stack {
  &:before {
    content: $icon-stack;
  }
}
.icon-staff {
  &:before {
    content: $icon-staff;
  }
}
.icon-text-align-center {
  &:before {
    content: $icon-text-align-center;
  }
}
.icon-text-align-justify {
  &:before {
    content: $icon-text-align-justify;
  }
}
.icon-text-align-left {
  &:before {
    content: $icon-text-align-left;
  }
}
.icon-text-align-right {
  &:before {
    content: $icon-text-align-right;
  }
}
.icon-text-bolder {
  &:before {
    content: $icon-text-bolder;
  }
}
.icon-text-color {
  &:before {
    content: $icon-text-color;
  }
}
.icon-text-italic {
  &:before {
    content: $icon-text-italic;
  }
}
.icon-text-strike-through {
  &:before {
    content: $icon-text-strike-through;
  }
}
.icon-text-t {
  &:before {
    content: $icon-text-t;
  }
}
.icon-text-underline {
  &:before {
    content: $icon-text-underline;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}
