$icomoon-font-family: 'iconfont' !default;
$icomoon-font-path: './../../../../../public/assets/fonts/iconfont' !default;

$icon-arrow-left: unquote('"\\e900"');
$icon-arrow-line-left: unquote('"\\e901"');
$icon-arrow-line-right: unquote('"\\e902"');
$icon-arrow-right: unquote('"\\e903"');
$icon-arrows-line-horizontal: unquote('"\\e904"');
$icon-arrows-outline-horizontal: unquote('"\\e905"');
$icon-arrow-square-out: unquote('"\\e906"');
$icon-arrow-up-right: unquote('"\\e907"');
$icon-at: unquote('"\\e908"');
$icon-calendar: unquote('"\\e909"');
$icon-caret-down: unquote('"\\e90a"');
$icon-caret-left: unquote('"\\e90b"');
$icon-caret-right: unquote('"\\e90c"');
$icon-caret-up: unquote('"\\e90d"');
$icon-chat: unquote('"\\e90e"');
$icon-check: unquote('"\\e90f"');
$icon-check-square-offset: unquote('"\\e910"');
$icon-clockwise: unquote('"\\e911"');
$icon-close: unquote('"\\e912"');
$icon-copy: unquote('"\\e913"');
$icon-dots-three: unquote('"\\e914"');
$icon-dots-three-vertical: unquote('"\\e915"');
$icon-download: unquote('"\\e916"');
$icon-eye: unquote('"\\e917"');
$icon-eye-closed: unquote('"\\e918"');
$icon-filter: unquote('"\\e919"');
$icon-folder: unquote('"\\e91a"');
$icon-folders: unquote('"\\e91b"');
$icon-gantt: unquote('"\\e91c"');
$icon-hourglass-medium: unquote('"\\e91d"');
$icon-house: unquote('"\\e91e"');
$icon-important: unquote('"\\e91f"');
$icon-kanban: unquote('"\\e920"');
$icon-link: unquote('"\\e921"');
$icon-list-bullets: unquote('"\\e922"');
$icon-list-checks: unquote('"\\e923"');
$icon-list-numbers: unquote('"\\e924"');
$icon-loader: unquote('"\\e925"');
$icon-magnifying-glass: unquote('"\\e926"');
$icon-magnifying-glass-minus: unquote('"\\e927"');
$icon-magnifying-glass-plus: unquote('"\\e928"');
$icon-menu: unquote('"\\e929"');
$icon-minus: unquote('"\\e92a"');
$icon-note: unquote('"\\e92b"');
$icon-notification: unquote('"\\e92c"');
$icon-paperclip: unquote('"\\e92d"');
$icon-pause-circle: unquote('"\\e92e"');
$icon-pencil-simple: unquote('"\\e92f"');
$icon-plus: unquote('"\\e930"');
$icon-question: unquote('"\\e931"');
$icon-reports: unquote('"\\e932"');
$icon-setting: unquote('"\\e933"');
$icon-share-network: unquote('"\\e934"');
$icon-sign-out: unquote('"\\e935"');
$icon-squares-four: unquote('"\\e936"');
$icon-stack: unquote('"\\e937"');
$icon-staff: unquote('"\\e938"');
$icon-text-align-center: unquote('"\\e939"');
$icon-text-align-justify: unquote('"\\e93a"');
$icon-text-align-left: unquote('"\\e93b"');
$icon-text-align-right: unquote('"\\e93c"');
$icon-text-bolder: unquote('"\\e93d"');
$icon-text-color: unquote('"\\e93e"');
$icon-text-italic: unquote('"\\e93f"');
$icon-text-strike-through: unquote('"\\e940"');
$icon-text-t: unquote('"\\e941"');
$icon-text-underline: unquote('"\\e942"');
$icon-time: unquote('"\\e943"');
$icon-trash: unquote('"\\e944"');
$icon-upload: unquote('"\\e945"');
$icon-user: unquote('"\\e946"');
$icon-wallet: unquote('"\\e947"');
