<div class="container">
    <div class="row">
        <h1 class="lesson__title">Урок первый</h1>
        <section class="lesson__section">
            <div class="lesson__section-wrapper">
                <div class="lesson__content">
                    <button class="lesson-btn btn-pirple is-trigger">Нажми на меня</button>
                    <div class="trigger-content">
                        <div class="trigger-actions">
                            <button class="lesson-btn btn-pirple">Да</button>
                            <button class="lesson-btn btn-pirple">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lesson__section" style="background-color: #CCCCCC">
            <div class="lesson__section-wrapper">
                <h3 class="lesson__title">Урок второй</h3>
                <div class="lesson__content">
                    <div class="box" id="box"></div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="wrapper">
                        <div class="heart"></div>
                        <div class="heart"></div>
                        <div class="heart"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>